NEXT_PUBLIC_APP_NAME=Rasporedar
NEXT_PUBLIC_DOMAIN_URL=http://localhost:3000

# --- APIs --- #
# Notice: if DOCKER_* are omitted, NEXT_PUBLIC_* urls will be used 
# since all the URLs are generated using functions located in
# src/utils/docker.ts

# Express API
NEXT_PUBLIC_API_URL=http://localhost:3001
DOCKER_API_URL=http://rasporedar-api:3001

# Payload CMS API
NEXT_PUBLIC_PAYLOAD_CMS_URL=http://localhost:5000
DOCKER_PAYLOAD_CMS_URL=http://rasporedar-payload-cms-payload-1:5000


PAYLOAD_CMS_KEY=
# --------- #

# External docker container port
PUBLISH_PORT=7200


PORT=3000

# DEV | BETA | PRODUCTION
DEPLOY_ENV=DEV